{
  "Nickname": "Alien-Bot",
  "Profile Picture": "pfp_default.jpg",
  "Token": "TOKEN",
  "Permissions": {
    "Admin": {
      "Is Owner": true,
      "Has Permissions": true,
      "Default": false,
      "Inherits": "Guardian"
    },
    "Guardian ": {
      "Is Owner": false,
      "Has Permissions": true,
      "Default": false,
      "Inherits": "User"
    },
    "User": {
      "Is Owner": false,
      "Has Permissions": true,
      "Default": true,
      "Inherits": "Restricted"
    },
    "Restricted": {
      "Is Owner": false,
      "Has Permissions": false,
      "Default": false,
      "Inherits": null
    }
  },
  "Disabled Channels": [],
  "Embed Color": "0x751DDF",
  "Bot Emoji": "\ud83e\udd5d",
  "Game Status": [
    "With Alien Sensei",
    "With Mods",
    "Between Lines of Code",
    "With Fire",
    "01000011011011110110010001100101",
    "With Your Data",
    "#751DDF"
  ],
  "Command Prefix": ";",
  "Commands": {
    "Channel Command": {
      "Enabled": true,
      "Aliases": [
        "channel",
        "c"
      ],
      "Help": "Changes the bot's presence in a channel",
      "Useage": [
        "channel {enable/disable}"
      ],
      "Minimum Permissions": "Owner"
    },
    "Help Command": {
      "Enabled": true,
      "Aliases": [
        "help",
        "h"
      ],
      "Help": "Lists mod info",
      "Useage": [
        "help {Mod}",
        "help {Command}"
      ],
      "Minimum Permissions": "Owner"
    }
  },
  "Database": "Config/Database.json"
}