{
  "Bot Emoji": "\ud83e\udd5d",
  "Command Prefix": ";",
  "Database": "Config/Database.db",
  "Disabled Channels": [],
  "Disabled Servers": [],
  "Embed Color": "0x751DDF",
  "Game Status": [
    "With Alien Sensei",
    "With Mods",
    "Between Lines of Code",
    "With Fire",
    "01000011011011110110010001100101",
    "With Your Data",
    "#751DDF"
  ],
  "Minimum Suggestion Permission": "Guardian",
  "Nickname": "Alien-Bot",
  "Permissions": {
    "Admin": {
      "Associated Roles": [],
      "Has Permissions": true,
      "Inherits": "Guardian",
      "Is Default": false,
      "Is Owner": true
    },
    "Guardian": {
      "Associated Roles": [],
      "Has Permissions": true,
      "Inherits": "User",
      "Is Default": false,
      "Is Owner": false
    },
    "Restricted": {
      "Associated Roles": [],
      "Has Permissions": false,
      "Inherits": null,
      "Is Default": false,
      "Is Owner": false
    },
    "User": {
      "Associated Roles": [],
      "Has Permissions": true,
      "Inherits": "Restricted",
      "Is Default": true,
      "Is Owner": false
    }
  },
  "Token": "TOKEN"
}